<p>
</p>
<table class="table">
    <thead>
        <tr>
            <th>Data Stworzenia</th>
            <th>Nazwa</th>
            <th>Twórca</th>
            <th>Kategoria</th>
        </tr>
    </thead>
    <tbody id="documents">
    </tbody>
</table>