<div class="row">
    <div class="col-md-4">
        <form asp-action="DocumentFilter">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="AutorId" class="control-label">Autor dokumentu</label>
                <input asp-for="AutorId" id="AutorId" list="AutorIdbrowsers" type="search" class="form-control" />
                <datalist id="AutorIdbrowsers">
                </datalist>
                <button id="ShowAutorAlert">Dodaj autora</button>
            </div>
            <div class="form-group">
                    <label asp-for="Category" class="control-label">Kategoria dokumentu</label>
                    <input asp-for="CategoryId" id="CategoryId" list="CategoryIdbrowsers" type="search" class="form-control" />
                    <datalist id="CategoryIdbrowsers">
                    </datalist>
                    <button id="ShowCategoryAlert">Dodaj kategorie</button>
            </div>
            <div class="form-group">
                <label asp-for="BeginCreateDate" class="control-label">Data od</label>
                <input asp-for="BeginCreateDate" id="BeginCreateDate" type="date" class="form-control" value="@DateTime.Now.AddDays(-90).ToString("yyyy-MM-dd")" />
            </div>
            <div class="form-group">
                <label asp-for="EndCreateDate" class="control-label">Data do</label>
                <input asp-for="EndCreateDate" id="EndCreateDate" type="date" class="form-control" value="@DateTime.Now.ToString("yyyy-MM-dd")" />
            </div>
            <div class="form-group">
                <label asp-for="Prefix" class="control-label">Nazwa dokumentu</label>
                <input asp-for="Prefix" id="Prefix" class="form-control" />
            </div>
            <div class="form-group">
                <input type="submit" value="Szukaj" class="btn btn-primary Shearch" />
            </div>
        </form>
    </div>
</div>

